med30_rand42.jsonl filter=lfs diff=lfs merge=lfs -text
med30_full.jsonl filter=lfs diff=lfs merge=lfs -text
med30_highavg.jsonl filter=lfs diff=lfs merge=lfs -text
med30_highvar.jsonl filter=lfs diff=lfs merge=lfs -text
med30_lowavg.jsonl filter=lfs diff=lfs merge=lfs -text
